[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-webpack-loader = "==0.6.0"
pytz = "==2018.3"
networkx = "==2.0"
scipy = "==1.0.0"
matplotlib = "==2.1.0"
numpy = "==1.13.3"
pandas = "==0.21.0"
function = "==1.2.0"
Django = "==2.0.3"

[dev-packages]

[requires]
python_version = "3.6"
