{
  "extends": [
    "eslint:recommended"
  ],
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module",
  },
  "rules": {
    "semi": ["warn"],
    "no-unused-vars": ["warn"],
    "no-console": 0,
  },
  "env": {
    "es6": "true",
    "browser": "true"
  }
}
